<body>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="employees" routerLinkActive="active" class="nav-link"
          >Employee List</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="create-employee"
          routerLinkActive="active"
          class="nav-link"
          >Add Employee List</a
        >
      </li>
    </ul>
  </nav>

  <h1 class="text-center">{{ title }}</h1>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
<footer class="page-footer mt-auto">
  <div class="container">
    <span>All rights Reserved 2021 @vicky kumar </span>
  </div>
</footer>
